<!DOCTYPE html>
<html lang="en">

<head>
<style>
.big{
      max-width : 50% !important;
      width:50% !important;
   }
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - 불량게시판</title>

    <!-- Custom fonts for this template -->
    <link href="a00_com/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="a00_com/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="a00_com/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

           <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Wind tire</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">


             <li class="nav-item">
                <a class="nav-link" href="/SO_Controller">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>생산목표</span></a>
            </li>

            <hr class="sidebar-divider">
 <div class="sidebar-heading">
                사원관리
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/mesListHtml1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>사원정보</span></a>
            </li>  
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                생산
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/SO_Scheduler">
                    <i class="fas fa-fw fa-table"></i>
                    <span>생산계획 관리</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                발주관리
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/SO_invoice">
                    <i class="fas fa-fw fa-table"></i>
                    <span>완제품 발주관리</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/SO_purorder">
                    <i class="fas fa-fw fa-table"></i>
                    <span>부자재 발주관리</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                공정관리
            </div>
             <li class="nav-item">
                <a class="nav-link" href="/board">
                    <i class="fas fa-fw fa-table"></i>
                    <span>작업 지시사항 게시판</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/color">
                    <i class="fas fa-fw fa-table"></i>
                    <span>공정1 모니터링</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/color2">
                    <i class="fas fa-fw fa-table"></i>
                    <span>공정2 모니터링</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getDetail">
                    <i class="fas fa-fw fa-table"></i>
                    <span>세부사항</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getDetail2">
                    <i class="fas fa-fw fa-table"></i>
                    <span>세부사항2</span></a>
            </li>
             <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                품질검사
            </div>
             <li class="nav-item">
                <a class="nav-link" href="/visualtest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>외관검사</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/centertest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>중심축검사</span></a>
            </li>
                        
            <li class="nav-item">
                <a class="nav-link" href="performancetest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>성능테스트</span></a>
            </li>
                         <li class="nav-item">
                <a class="nav-link" href="resultlist">
                    <i class="fas fa-fw fa-table"></i>
                    <span>품질검사 결과</span></a>
            </li> 
            <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                불량품 확인 게시판
            </div>            
            <li class="nav-item active">
                <a class="nav-link" href="/ErrorListHTML">
                    <i class="fas fa-fw fa-table"></i>
                    <span>불량품 게시판</span></a>
            </li> 
			<hr class="sidebar-divider d-none d-md-block">                        
			<div class="sidebar-heading">
	           창고관리
	       </div>
           <li class="nav-item ">
               <a class="nav-link" href="lot">
                   <i class="fas fa-fw fa-table"></i>
                   <span>창고 현상황</span></a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="bound">
                   <i class="fas fa-fw fa-table"></i>
                   <span>출고내역</span></a>
           </li>            
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="a00_com/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="a00_com/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="a00_com/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="a00_com/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
 
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">불량게시판</h1>
                    <br>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">불량게시판 리스트</h6>
                             <button class="btn btn-success" type="button"  id="regBtn"  data-toggle="modal" 
       								data-target="#exampleModalCenter">등록</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr >
                                            <th>번호</th>
                                            <th>작업자</th>
                                            <th>검사일</th>
                                            <th>비주얼검사</th>
                                            <th>기계적검사</th>
                                            <th>내구성및성능테스트</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>번호</th>
                                            <th>작업자</th>
                                            <th>검사일</th>
                                            <th>비주얼검사</th>
                                            <th>기계적검사</th>
                                            <th>내구성및성능테스트</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
						
                                    </tbody>
                                </table>
                                
            <!-- ErrorTable Modal-->  
<div id="showModal"  data-toggle="modal" data-target="#exampleModalCenter"></div>
   <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered big">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">상세페이지</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-body">
		<form id="frm02" class="form"  method="post">
	     <div class="row">
	      <div class="col">
	        <input type="text" class="form-control" placeholder="글번호 입력" name="id">
	      </div>
	      <div class="col">
	        <input type="text" class="form-control" placeholder="작성자 입력" name="manager">
	      </div>
	     </div>
	     <div class="row">
	      <div class="col">
	        <input type="date" class="form-control" placeholder="검사일 입력(YYYY-MM-DD)" name="inspectionstr" readonly>
	      </div>
		</div>
	     <div class="row">
	      <div class="col">
	        <input type="text" class="form-control" placeholder="분류1 입력" name="visual_in">
	      </div>
	     </div>
	     <div class="row">
	      <div class="col">
	        <input type="text" class="form-control" placeholder="분류2 입력" name="mechanic">
	      </div>
	      </div>
	     <div class="row">
	      <div class="col">
	        <input type="text" class="form-control" placeholder="분류3 입력" name="durabilit">
	      </div>	
	      </div> 
	    </form> 

	    
	    
      </div>
      
      
      <div class="modal-footer">
   		<button type="button" id="regBtn" class="btn btn-success">등록</button>
        <button type="button" id="uptBtn" class="btn btn-primary">수정</button>
        <button type="button" id="delBtn" class="btn btn-warning">삭제</button>
        <button type="button" id="schBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                  
               
    		<script src="a00_com/vendor/jquery/jquery.min.js"></script>   
    		<script type="text/javascript">	
    		$(document).ready(function(){
    			$("#schBtn").click(function(){
    				ajaxList()
    			})
    			// 등록 버튼을 클릭시, 상세와 화면과 구분하기 위해서 처리할 내용 수행
    			$("#regBtn").click(function(){
    				 // 입력을 초기화
    				 $("#frm02")[0].reset()
    				 // 타이틀 변경
    				 $("#exampleModalLongTitle").text("게시판 등록");
    				 // 등록 버튼을 보이게 하고, 수정/삭제버튼을 보이지 않게..
    				 $(".modal-footer #regBtn").show()
    				 $(".modal-footer #uptBtn").hide()
    				 $(".modal-footer #delBtn").hide()
    				 // 사원번호가 입력이 가능하게/상세화면에서는 입력불가능하게 해야되기에..
    				 $("#frm02 [name=id]").prop("readonly",false)
    			})
    		
    			$(".modal-footer #regBtn").click(function(){
    				if(confirm("등록하시겠습니까?")){
    					//ckid()
    					insertErrorajax()
    				}
    			})
    			$("#uptBtn").click(function(){
    				if(confirm("수정하시겠습니까?")){
    					updateErrorajax();
    				}
    			})
    			// 창을 닫을 때, 화면에 전체 조회를 다시 하여, 등록/수정/삭제된 내용이 반영해서 출력
    			$(".clsBtn").click(function(){
    				ajaxList()		
    			})
    			$("#delBtn").click(function(){
    				if(confirm("삭제하시겠습니까?")){
    					deleteErrorajax()
    				}
    			})
    			
    		});
    	
    		function insertErrorajax(){
    			$.ajax({
    				url:"insertErrorajax",
    				type:"post",
    				data:$("#frm02").serialize(),
    				dataType:"text",
    				success:function(data){
    					// 등록된 내용 초기화처리
    					$("#frm02")[0].reset()
    					// 확인 후, 검색	
    					if(!confirm(data+"\n계속 등록하시겠습니까")){
    						// 현재 창을 닫는 처리..
    						$(".clsBtn").click()
    					}
    				},
    				error:function(err){
    					console.log(err)
    				}
    			})
    		}

    		function goPage(id){
    			$("#regBtn").click() // 모달창을 로딩하기 위해, 강제 이벤트 발생..
    			$("#exampleModalLongTitle").text("게시판 상세"); // 타이틀 변경
    			// 등록버튼을 보이지 않지 않게 처리, 수정/삭제버튼을 보이게 처리..
    				
    			// empno를 입력해서 변경 못하게 처리(empno가 key에 수정/삭제시 다른 데이터 입력불가)
    			$("#frm02 [name=id]").prop("readonly",true)
    			// 상세 데이터 form데이터 할당..
    			getError(id)
    		}
    		
    		function getError(id){
    			$("#showModal").click()
    			$(".modal-footer #regBtn").hide()
    			$(".modal-footer #uptBtn").show()
    			$(".modal-footer #delBtn").show()	    			
    			$.ajax({
    				url:"errorckIdajax",
    				type:"get",
    				data:"id="+id,
    				dataType:"json",
    				success:function(data){
    					var error = data
    					console.log(error)
    					// 등록된 내용 초기화처리
    					$("#frm02 [name=id]").val(error.id)
    					$("#frm02 [name=manager]").val(error.manager)
    			//id manager inspection visual_in mechanic durabilit
    					var hire = new Date(error.inspection)
    					// javascript의 Date객체를 YYYY-MM-DD형식 출력..
    					$("#frm02 [name=inspectionstr]").val(formatDate(hire))
    					$("#frm02 [name=visual_in]").val(error.visual_in)
    					$("#frm02 [name=mechanic]").val(error.mechanic)
    					$("#frm02 [name=durabilit]").val(error.durabilit)
    				},
    				error:function(err){
    					console.log(err)
    				}
    			})
    		}
    		function formatDate(date) {
    		    let year = date.getFullYear();
    		    let month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
    		    let day = String(date.getDate()).padStart(2, '0');       // 일자를 2자리로 보장
    		   
    		    return `${year}-${month}-${day}`;
    		}	
    		
    		function updateErrorajax(){
    			$.ajax({
    				url:"updateErrorajax",
    				type:"post",
    				data:$("#frm02").serialize(),
    				dataType:"text",
    				success:function(data){
    					var error = data
    					alert(error)
    					console.log(error)
    					// 수정 이후 내용 초기화처리
    					$(" [name=id]").val(error.id)
    					$(" [name=manager]").val(error.manager)
    					var hire = new Date(error.inspection)
    					$(" [name=inspectionstr]").val(formatDate(hire))
    					$(" [name=visual_in]").val(error.visual_in)
    					$(" [name=mechanic]").val(error.mechanic)
    					$(" [name=durabilit]").val(error.durabilit) 
    					$("#cBtn").click()
    				},
    				error:function(err){
    					console.log(err)
    				}
    			})		
    		}
    		
    		function deleteErrorajax(){
    			$.ajax({
    				url:"deleteErrorajax",
    				type:"post",
    				data:$("#frm02").serialize(),
    				dataType:"text",
    				success:function(data){
    					var error = data
    					alert(error)
    					console.log(error)
    					
    					$(".clsBtn").click();
    				},
    				error:function(err){
    					console.log(err)
    				}
    			})		
    		}
    		// 사원번호에 입력 유효성
    		function ckid(){
    			
    			var id = $("[name=id]").val()
    			// 사원번호가 4자이 이상이고 isNaN(문자열):해당문자열이 숫자형이 아닐 때, true
    			if(id.length==1 && !isNaN(id)){
    				errorckIdajax(id)
    			}else{
    				alert("번호를 1자리이상이고 숫자형이어야 합니다.")
    				
    			}
    			
    		}
    		
    		function errorckIdajax(id){
    			$.ajax({
    				url:"errorckIdajax",
    				type:"get",
    				data:"id="+id,
    				dataType:"text",
    				success:function(data){
    					// 메시지가 있을 때..
    					if(data!=""){
    						alert(data)
    					}else{
    						insertErrorajax()
    					}
    				},
    				error:function(err){
    					console.log(err)
    				}
    			})		
    		}			
  
    	    function errormodal(){
				
            }
    	    
    		function ajaxList(){
        		$.ajax({
        			url:"/ajaxErrorList",
        			type:"get",
        			dataType:"json",
        			success:function(data){        			        				
        				var addHTML=""
        				$(data).each(function(idx, error){
        					var ckdate = error.inspection;
        		              var dateObj = new Date(ckdate);
        		              var formattedDate = dateObj.toLocaleString('ko-KR', { 
        		                year: 'numeric', 
        		                month: '2-digit', 
        		                day: '2-digit', 
        		              });
        					addHTML+=`<tr ondblclick="getError(${error.id})">
        								  <td>${error.id}</td>
        								  <td>${error.manager} </td>
        								  <td>${formattedDate}</td>
        								  <td>${error.visual_in}</td>
        								  <td>${error.mechanic}</td>
        								  <td>${error.durabilit}</td>`
        				})
        				$("tbody").html(addHTML)
        			},
        			error:function(err){
        				console.log(err)
        			}
        		})	
        	}            
            ajaxList()
            
            
            
            
            
            </script>                      
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- /.container-fluid -->
            </div>
    		

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <script src="a00_com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="a00_com/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="a00_com/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="a00_com/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="a00_com/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="a00_com/js/demo/datatables-demo.js"></script>

</body>

</html>