<!DOCTYPE html>
<html lang="en">

<head>
<style>
	tbody tr:hover{
		background-color: lightgray;
	}
	.big{
		max-width : 90% !important;
		width:90% !important;
	}
	.input-group-text{width:100%;background-color:linen;
		color:black;font-weight:bolder;}
	.input-group-prepend{width:20%;}
	#chatArea{
		width:80%;height:200px;overflow-y:auto;text-align:left;
		border:1px solid green;
	}
	.small{
		max-width: 60% !important;
		width:60% !important;
	}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WindTire 자재관리</title>

    <!-- Custom fonts for this template -->
    <link href="a00_com/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="a00_com/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="a00_com/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

           <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Wind tire</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">


           <li class="nav-item">
                <a class="nav-link" href="/SO_Controller">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>생산목표</span></a>
            </li>

            <hr class="sidebar-divider">
 <div class="sidebar-heading">
                사원관리
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/mesListHtml1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>사원정보</span></a>
            </li>  
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                생산
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/SO_Scheduler">
                    <i class="fas fa-fw fa-table"></i>
                    <span>생산계획 관리</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                발주관리
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/SO_invoice">
                    <i class="fas fa-fw fa-table"></i>
                    <span>완제품 발주관리</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/SO_purorder">
                    <i class="fas fa-fw fa-table"></i>
                    <span>부자재 발주관리</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                공정관리
            </div>
             <li class="nav-item">
                <a class="nav-link" href="/board">
                    <i class="fas fa-fw fa-table"></i>
                    <span>작업 지시사항 게시판</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/color">
                    <i class="fas fa-fw fa-table"></i>
                    <span>공정1 모니터링</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/color2">
                    <i class="fas fa-fw fa-table"></i>
                    <span>공정2 모니터링</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getDetail">
                    <i class="fas fa-fw fa-table"></i>
                    <span>세부사항</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getDetail2">
                    <i class="fas fa-fw fa-table"></i>
                    <span>세부사항2</span></a>
            </li>
             <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                품질검사
            </div>
             <li class="nav-item">
                <a class="nav-link" href="/visualtest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>외관검사</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/centertest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>중심축검사</span></a>
            </li>
                        
            <li class="nav-item">
                <a class="nav-link" href="performancetest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>성능테스트</span></a>
            </li>
                         <li class="nav-item">
                <a class="nav-link" href="resultlist">
                    <i class="fas fa-fw fa-table"></i>
                    <span>품질검사 결과</span></a>
            </li> 
            <hr class="sidebar-divider d-none d-md-block">
            <div class="sidebar-heading">
                불량품 확인 게시판
            </div>            
            <li class="nav-item">
                <a class="nav-link" href="/ErrorListHTML">
                    <i class="fas fa-fw fa-table"></i>
                    <span>불량품 게시판</span></a>
            </li> 
			<hr class="sidebar-divider d-none d-md-block">                        
			<div class="sidebar-heading">
	           창고관리
	       </div>
           <li class="nav-item active">
               <a class="nav-link" href="lot">
                   <i class="fas fa-fw fa-table"></i>
                   <span>창고 현상황</span></a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="bound">
                   <i class="fas fa-fw fa-table"></i>
                   <span>출고내역</span></a>
           </li>  
           <div class="text-center d-none d-md-inline">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
           </div>
            

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- 툴바(헤드에) Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="number" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            value="Search for" aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="mr-2 d-none d-lg-inline text-gray-600 small">로그인 중</span>
                                <img class="img-profile rounded-circle"
                                    src="a00_com/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
					<button type="button" class="btn btn-success" id="matBtn">자재 리스트 보기</button>
					<button type="button" class="btn btn-warning" id="proBtn">완제품 리스트 보기</button>
					
                    <h1 class="h3 mb-2 text-gray-800" id="lothead">자재/완제품 리스트 선택</h1>
                    <div class="card shadow mb-4"  id="listtable">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" id="lotlist">lotlist</h6>
                            <button id="insMat" class="btn btn-success" style="float:right;">자재정보 추가</button>
                            <button id="insPro" class="btn btn-success" style="float:right;">완제품 정보 추가</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="tr">
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="tr">
                                        </tr>
                                    </tfoot>
                                    <tbody id="tbody1">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


            </div>
            <script src="a00_com/vendor/jquery/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#listtable").hide()
	$("#matBtn").click(function(){
		$("#listtable").show();
		matList();
	})
	$("#proBtn").click(function(){
		$("#listtable").show();
		proList();
	})
	$("#insPro").click(function(){
		$("#dataTable1").hide();$("#showModal").click();$("#insert").show();
		$(".matForm").hide();$("#exampleModalLongTitle").text("완제품추가")
		$(".proForm").show();$(".matForm").hide();
	})
	$("#insMat").click(function(){
		$("#dataTable1").hide();$("#showModal").click();$("#matIns").show();
		$("#insert").show();$(".matForm").show();$(".proForm").hide();
		$("#exampleModalLongTitle").text("자재추가");$("#proIns").hide();
	})
	$("#matIns").click(function(){
		if(confirm("자재를 등록하시겠습니까?")){
			insAjax("/ajaxInsMat");
		}
	})
	$.ajax({
		url:"/ajaxMaterialList",
		type:"GET",
		dataType:"json",
		success:function(data){
			var addHTML="<option selected disabled class='.proForm'>재료선택</option>"
			$(data).each(function(idx, m){
				addHTML+=`<option class=".proForm" value="${m.materialid}">${m.mname}</option>`
			})
			$("#mat1").html(addHTML)
			$("#mat2").html(addHTML)
			$("#mat3").html(addHTML)
		},
		error:function(err){
			console.log(err)
		}
	})
})
  	
function matList() {
    $("#insPro").hide();
    $("#insMat").show();
    $("#lothead").text("자재 메뉴");
    $("#lotlist").text("자재 리스트");
    $.ajax({
        url: "/ajaxMaterialList",
        type: "GET",
        dataType: "json",
        success: function (data) {
            console.log(data);
            let addHTML = "";
            $(data).each(function (idx, m) {
                const ckdate = m.lastck;
                const dateObj = new Date(ckdate);
                const formattedDate = dateObj.toLocaleString('ko-KR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                });

                const safenow = m.safenow;
                const mname = m.mname;
                let style = safenow > 0 ? "black" : "red";
                if (safenow <= 0) {
                    if (confirm(`${mname}의 현 자재량이 안전재고량 미달입니다.\n자재 발주 페이지로 이동하시겠습니까?`)) {
                        location.href = "/SO_purorder";
                    }
                }
                addHTML += `<tr ondblclick='inModal(${m.materialid})' onclick="showBtn(${idx})">
                              <td>${m.materialid}</td>
                              <td>${m.mname}</td>
                              <td>${m.unit}</td>
                              <td><b>${m.quantity}</b></td>
                              <td>${m.safety}</td>
                              <td style="color:${style}">${m.safenow}</td>
                              <td>${formattedDate}</td></tr>
                              <tr><td class="hidden" colspan="7" align="right" style="display:none;">
                              <a href="/lotDetail?materialid=${m.materialid}" class="btn btn-info btn-circle">
                              <i class="fas fa-info-circle"></i>
                              </a>
                              </td></tr>`;
            });
            $("#tbody1").html(addHTML);
            $(".tr").html(`<th>자재번호</th>
                    <th>자재명</th>
                    <th>단위</th>
                    <th><b>현수량</b></th>
                    <th>안전수량</th>
                    <th>안전수초과량</th>
                    <th>최종수정일</th>`);

        },
        error: function (err) {
            console.log(err);
        }
    });
}


function showBtn(idx){
	var hdOb = document.querySelectorAll(".hidden");
	if(idx>=0&&idx<hdOb.length){
		var content = hdOb[idx];
		if(content.style.display==="none"){
			content.style.display="";
		}else{
			content.style.display = "none";
		}
	}
		
	
}
function proList(){
	$("#insPro").show();$("#lothead").text("완제품 메뉴");
	$("#lotlist").text("완제품 리스트");$("#insMat").hide();
	$.ajax({
		url:"/ajaxProtypeList",
		type:"GET",
		dataType:"json",
		success:function(data){
			console.log(data)
			var addHTML=""
			$(data).each(function(idx, p){
				addHTML+=`<tr ondblclick='pModal(${p.ptype})' onclick="showBtn(${idx})">
							  <td>${p.ptype}</td><td>${p.pname}</td><td>${p.price}</td>
							  <td>${p.mat1}</td><td>${p.mat1_vol}</td><td>${p.mat2}</td>
							  <td>${p.mat2_vol}</td><td>${p.mat3}</td><td>${p.mat3_vol}</td>
							  <tr><td class="hidden" colspan="10" align="right" style="display:none;">
  							  <a href="/lotDetail?ptype=${p.ptype}" class="btn btn-info btn-circle">
							  <i class="fas fa-info-circle"></i>
                              </a></td></tr>`
			})
			console.log(addHTML)
			$("#tbody1").html(addHTML)
			$(".tr").html(`
					<th>제품타입</th>
                    <th>제품명</th>
                    <th>단가</th>
                    <th>재료1</th>
                    <th>재료1사용량</th>
                    <th>재료2</th>
                    <th>재료2사용량</th>
                    <th>재료3</th>
                    <th>재료3사용량</th>
                    `)
		},
		error:function(err){
			console.log(err)
		}
	})	
}
function insAjax(url){
	$.ajax({
		url:url,
		type:"Post",
		data:$("#frm11").serialize(),
		dataType:"text",
		success:function(data){
			$("#frm11")[0].reset()
			var msg = data;
			console.log(data);
			alert(msg);
		},
		error:function(err){
			console.log(err)
		}
	})	
}
function inModal(idx){
	$("#showModal").click();$("#dataTable1").show();
	$("#insert").hide();$("#matIns").hide();$("#proIns").hide();
	$.ajax({
		url:"ajaxInboundList",
		type:"GET",
		data:"id="+idx,
		dataType:"json",
		success:function(data){
			console.log(data)
			var addHTML=""
			$("#exampleModalLongTitle").text("자재번호"+idx)
			$(data).each(function(idx, inb){
				var indate = inb.indate;
				var dateObj = new Date(indate);
				var formattedDate = dateObj.toLocaleString('ko-KR', { 
				    year: 'numeric', 
				    month: '2-digit', 
				    day: '2-digit', 
				});
				addHTML+=`<tr onclick='showBtn(${idx})'>
							  <td>${inb.inboundid}</td>
							  <td>${inb.orderno}</td>
							  <td>${inb.materialid}</td>
							  <td>${inb.received}</td>
							  <td style="color:black"><b>${inb.quantity}</b></td>
							  <td style="color:black">${formattedDate}</td>
							  <td>${inb.manager}</td>
							  <td>${inb.remarks}</td></tr>`
			})
			console.log(addHTML)
			$("#tbody2").html(addHTML);
			$("#tr2").html(`<th>거래번호</th>
			        <th>발주번호</th>
			        <th>자재번호</th>
			        <th>입고량</th>
			        <th>현재수량</th>
			        <th>입고날</th>
			        <th>담당자</th>
			        <th>비고</th>`)
		},
		error:function(err){
			console.log(err)
		}
	})
}
function pModal(idx){
	$("#showModal").click();$("#proIns").hide();
	$("#dataTable1").show();$("#insert").hide();$("#matIns").hide();
	$.ajax({
		url:"ajaxProList",
		type:"GET",
		data:"ptype="+idx,
		dataType:"json",
		success:function(data){
			console.log(data)
			var addHTML=""
			$("#exampleModalLongTitle").text("완제품타입"+idx)
			$(data).each(function(idx, oub){
				var mandate = oub.mandate;
				var dateObj = new Date(mandate);
				var formattedDate = dateObj.toLocaleString('ko-KR', { 
				    year: 'numeric', 
				    month: '2-digit', 
				    day: '2-digit', 
				});
				var expired = oub.expired;
				var dateObj2 = new Date(expired);
				var formattedDate2 = dateObj2.toLocaleString('ko-KR', { 
				    year: 'numeric', 
				    month: '2-digit', 
				    day: '2-digit', 
				});
				var lastck = oub.lastck;
				var dateObj3 = new Date(lastck);
				var formattedDate3 = dateObj3.toLocaleString('ko-KR', { 
				    year: 'numeric', 
				    month: '2-digit', 
				    day: '2-digit', 
				});
				addHTML+=`<tr ondblclick="location.href='lotDetail?productid=${oub.productid}'">
							  <td>${oub.productid}</td>
							  <td>${oub.ptype}</td>
							  <td>${formattedDate}</td>
							  <td>${formattedDate2}</td>
							  <td>${oub.unit}</td>
							  <td>${oub.manquan}</td>
							  <td>${oub.quantity}</td>
							  <td>${formattedDate3}</td></tr>`
			})
			console.log(addHTML)
			$("#tbody2").html(addHTML)
			$("#tr2").html(`<th>완제id</th>
		        <th>완제품타입</th>
		        <th>제조일</th>
		        <th>폐기일</th>
		        <th>단위</th>
		        <th>제조수량</th>
		        <th>현수량</th>
		        <th>최종수정일</th>`)
		},
		error:function(err){
			console.log(err)
		}
	})
}

</script>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="showModal"  data-toggle="modal" data-target="#exampleModalCenter"></div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered big">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">12123123123</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<table class="table table-hover table-striped" id="dataTable1">
		    <thead>
		      <tr class="table-success text-center" id="tr2">
		      </tr>
		    </thead>	
		    <tbody id="tbody2">
		    </tbody>
		</table>  
		<div id="insert">
			<form id="frm11">
			<div class="input-group mb-3 matForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">자재명</span>
				</div>
				<input name="mname" class="form-control" />
			</div>
			<div class="input-group mb-3 matForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">단위</span>
				</div>
				<input name="unit" class="form-control" />
			</div>
			<div class="input-group mb-3 matForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">단가</span>
				</div>
				<input name="price" class="form-control" />
			</div>
			<div class="input-group mb-3 matForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">안전수량</span>
				</div>
				<input name="safety" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">제품타입</span>
				</div>
				<input name="ptype" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">제품명</span>
				</div>
				<input name="pname" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">단가</span>
				</div>
				<input name="price" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료1</span>
				</div>
				<select class="form-control" name="mat1" id="mat1"></select>
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료1수량</span>
				</div>
				<input name="mat1_vol" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료2</span>
				</div>
				<select class="form-control" name="mat2" id="mat2"></select>
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료2수량</span>
				</div>
				<input name="mat2_vol" class="form-control" />
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료3</span>
				</div>
				<select class="form-control" name="mat3" id="mat3"></select>
			</div>
			<div class="input-group mb-3 proForm">	
				<div class="input-group-prepend ">
					<span class="input-group-text  justify-content-center">재료3수량</span>
				</div>
				<input name="mat3_vol" class="form-control" />
			</div>
			</form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary matForm" id="matIns">자재입력</button>
        <button type="button" class="btn btn-primary proForm" id="proIns">완제품입력</button>
      </div>
    </div>
  </div>
</div>
    <!-- Bootstrap core JavaScript-->
    <script src="a00_com/vendor/jquery/jquery.min.js"></script>
    <script src="a00_com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="a00_com/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="a00_com/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="a00_com/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="a00_com/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="a00_com/js/demo/datatables-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<!-- Page level plugins -->
    <script src="a00_com/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="a00_com/js/demo/chart-area-demo.js"></script>
    <script src="a00_com/js/demo/chart-pie-demo.js"></script>
    <script src="a00_com/js/demo/chart-bar-demo.js"></script>
	<script src="https://www.chartjs.org/dist/master/chart.min.js"></script>
	<script src="a00_com/vendor/chart.js/chart.js"></script>
	<script src="a00_com/vendor/chart.js/Chart.bundle.js"></script>
	<script src="a00_com/vendor/chart.js/Chart.bundle.min.js"></script>

</body>

</html>